section.row.component
  .large-6.columns
    h1 How do I get it?
  .large-6.columns
    p Minecraft currently costs <strong>$26.95</strong>, which includes all future updates to the game. You'll need to create a Mojang account first and then purchase a copy of Minecraft to link to your account. Afterwards you can login from any Minecraft client.
  .row
    a.large-12.columns(href='https://minecraft.net/store/minecraft', target='_blank')
      img(src='/img/get_minecraft_button.png')

