section.row.component
  .large-6.columns
    h1 What is Minecraft?
  .large-6.columns
    p Minecraft is a procedurally generated sandbox game with RPG elements. You are placed in an expansive world where all things are composed of 1x1x1-meter blocks. To survive you must build. To build you must craft.
  .row
    ul.tasks.small-block-grid-3
      li
        div Craft
        img(src='img/blocks/workbench.png')
      li
        div Build
        img(src='img/blocks/grass_block.png')
      li
        div Survive
        img(src='img/blocks/creeper.jpg')
