section.row.component
  .large-6.columns
    h1 What is Minecraft?
  .large-6.columns
    p Minecraft is a procedurally generated sandbox game with RPG elements. You are placed in an expansive world where all things are composed of 1x1x1-meter blocks. To survive you must build. To build you must craft.
  .row
    ul.tasks.small-block-grid-3
      li
        .info
          | Convert raw resources into tools you can use to shape the world around you.
        h2 Craft
        img(src='img/blocks/workbench.png')
      li
        .info
          | Ramparts and turrets are just the beginning. Carve your name in a mountain. Build a pizza in the sky.
        h2 Build
        img(src='img/blocks/grass_block.png')
      li
        .info
          | Spiders, zombies, skeletons, skeletons riding spiders. That's just the first night...
        h2 Survive
        img(src='img/blocks/creeper.jpg')
