@font-face
  font-weight normal
  font-style normal
  font-family "Minecraft Regular"
  src url("fonts/minecraft_font.eot?") format("eot"),url("fonts/minecraft_font.woff") format("woff"),url("fonts/minecraft_font.ttf") format("truetype"),url("fonts/minecraft_font.svg#Minecraft") format("svg")

