body
  background: url('/img/epic_vista.jpg') no-repeat right 20% fixed
  background-size: 200%
  padding-top: 2em
  overflow-x: hidden

section
  padding: 1.5em
  background: rgba(255,255,255,0.7)
  border-radius: 2px

iframe
  border-radius: 2px
  z-index: 100


[ng-view="ng-view"]
  overflow-x: hidden

.component
  // border: 1px solid red
  margin-bottom: 1em

h1
  text-transform: uppercase
  font-size: 2.6em
  font-weight: bold








.hero-box
  z-index: 10
  margin-bottom: 0px
  margin-right: -400px
  .icon
    overflow-y: hidden
    height: 130%

  section
    padding: 0
    font-size: 12px
    margin-bottom: -40px
    margin-left: -40px
    background: rgba(255,255,255,1)
    border-radius: 2px

  header
    display: block
    float: left
    text-transform: uppercase
    padding-left: 100px

    h4
      margin-bottom: -10px
      font-size: 1.2em
    h1
      margin: 0
      font-weight: bold
      font-size: 3.3em



  ul
    list-style-type: none
    margin-top: 10px
    li
      margin: 0 0 -5x
      padding: 0

      h4
        font-size: 0.9em
      strong
        text-transform: uppercase

  i.icon
    float: left
    display: block
    width: 125px
    margin-right: 1em
    left: -30px
    top: -20px
    position: absolute
    img
      width: 100%

.map-box
  // background: rgba(0,0,0,0.5)


.what-box
  h1
    display: block
    float: left
    margin-top: -5px

  ul
    margin-top: 6em
    margin-left: -20px !important
  li
    text-align: center
    text-transform: uppercase
    font-weight: 600
    position: relative

    // width: 310px


    .info
      opacity: 0
      transition: all 0.3s ease-in-out
      width: 90%
      height: 250px
      margin-left: 5%
      margin-top: 10px
      padding: 1em
      position: absolute
      background: black
      text-transform: none
      font-size: 1.3em
      background: #fefefe
      border-radius: 4px
      font-weight: 400
      line-height: 1.5em
      box-shadow: 4px 4px 1px 0px rgba(50, 50, 50, 0.25)
      img
        margin: 10px 50%
    h2
      transition: all 0.1s ease-in-out
      font-weight: bold
      text-shadow:
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff
      position: absolute
      width: 100%
      text-align: center
      top: 20%
      letter-spacing: 2px

    & > img
      transition: all 0.2s ease-in-out
      width: 50%
      margin-top: 20px
      margin-left: 20px


    &:hover
      h2
        font-size: 3.5em
        top: 55%
        letter-spacing: 3px
      &>img
        width: 80%

      .info
        opacity: 0.8


// .why-box

// .how-box
