body
  background: url('/img/epic_vista.jpg') no-repeat center center fixed
  background-size: 100%

section
  // min-height: 300px
  padding: 1em
  background: rgba(255,255,255,0.7)


.component
  // border: 1px solid red

h1
  text-transform: uppercase
  font-weight: bold



i.icon
  float: left
  display: block
  width: 75px
  margin-right: 1em
  img
    width: 100%


.hero-box
  margin-bottom: 1em
  font-face: "Minecraft Regular"
  header
    display: block
    float: left
    text-transform: uppercase
    h4
      margin-bottom: -10px
      font-size: 1.2em
    h1
      margin: 0
      font-weight: bold

.what-box
  margin-bottom: 1em
  h1
    display: block
    float: left
    font-size: 2.2em


// .why-box

// .how-box
