body
  background: url('/img/epic_vista.jpg') no-repeat right 20% fixed
  background-size: 200%
  padding-top: 2em

section
  padding: 1.5em
  background: rgba(255,255,255,0.7)
  border-radius: 2px
iframe
  border-radius: 2px


.component
  // border: 1px solid red
  margin-bottom: 1em

h1
  text-transform: uppercase
  font-size: 2.6em
  font-weight: bold








.hero-box
  margin-bottom: 1em

  section
    padding: 0
    font-size: 12px
    margin-bottom: -40px
    margin-left: -40px
    background: rgba(255,255,255,1)
    border-radius: 2px

  header
    display: block
    float: left
    text-transform: uppercase
    padding-left: 100px

    h4
      margin-bottom: -10px
      font-size: 1.2em
    h1
      margin: 0
      font-weight: bold
      font-size: 3.3em



  ul
    list-style-type: none
    margin-top: 10px
    li
      margin: 0 0 -5x
      padding: 0

      h4
        font-size: 0.9em
      strong
        text-transform: uppercase

  i.icon
    float: left
    display: block
    width: 125px
    margin-right: 1em
    left: -40px
    top: -10px
    position: absolute
    img
      width: 100%

.map-box
  // background: rgba(0,0,0,0.5)


.what-box
  h1
    display: block
    float: left
    margin-top: -5px

  ul
    margin-top: 10em
  li
    text-align: center
    text-transform: uppercase
    font-weight: 600
    // width: 310px
    img
      width: 50%
      margin-top: 20px

// .why-box

// .how-box
